<!-- <img src="assets/heroImage.jpeg" class="heroImage"> -->

<div class="heroImage">
    <div className="">

    </div>

</div>


<div class="mx-2">

    <div class="mt-5 text-center d-flex flex-column">
        <div class="d-flex justify-content-center">
            <hr width="50" class="">
            <h1 class="title mx-1">
                Explore Our Features
            </h1>
            <hr width="50" class="">
        </div>

        <div>
            <div class="container" id="homeCategory" >
                <div class="row">

                    <div class="categoryContainer col-sm py-1" [routerLink]="['/user/plantDiary']">
                        <div class="categoryImg" id="img1">
                            <div>
                                <span class="category-innerText">
                                    Plant Diary
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="categoryContainer col-sm py-1"  [routerLink]="['/plantGallery/1']">
                        <div class="categoryImg" id="img2">
                            <div>
                                <span class="category-innerText">
                                    Plant Gallery
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="categoryContainer col-sm py-1">
                        <div class="categoryImg" id="img3">
                            <div>
                                <span class="category-innerText">
                                    Plant Identification
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>

<div class="subHeroImage mt-5 p-5 d-flex align-items-center">
    <div class="w-75">
        <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac libero auctor, facilisis metus eget, volutpat elit. Fusce et est nec turpis congue tristique. Sed a mi quis mi euismod scelerisque.</p>

        <button class="button-89 mt-3" role="button">Learn More</button>
    </div>
</div>

<div class="my-5">
    <div class="d-flex justify-content-center my-3">
        <hr width="50" class="">
        <h1 class="title mx-1 ">
            Commonly Asked Question
        </h1>
        <hr width="50" class="">
    </div>

    <div class="container">
        <div class="row justify-content-md-center ">
            <div class="col-lg">
                <img class="w-100" src="https://st.depositphotos.com/2632165/4026/i/450/depositphotos_40264933-stock-photo-young-plant.jpg" >
            </div>
            <div class="col col-sm">
                <h1 class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
                <p >
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
                    repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam eum
                    harum corrupti dicta, aliquam sequi voluptate quas.
                </p>
                <button class="button-89 mt-2" style="--color:rgb(28, 52, 32) !important;">Learn More</button>
            </div>

        </div>
    </div>

</div>
