.heroImage{
  background-image: url('../../../assets/plantDiaryHeroImage.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
  color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
}

.title{
  font-family: 'Tilt Neon', Tahoma, Geneva, Verdana, sans-serif !important;
}

.popUpWindowContainer{
  height: 100vh;
  width: 100vw;
  background-color: rgba(1,1,1,0.5);
  position: absolute;
  top:0;
  left:0;

}

.popUpWindow{

  background-color: white;
  padding: 50px;
  width: 50vw;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}


.exitButton{
  position: absolute;
  right: 0;
  top: 0;
}
