<div class="heroImage">

</div>

<div>
  <div class="d-flex justify-content-center mt-5">
    <hr width="50" class="">
    <h1 class="title mx-1" style="font-family: 'Tilt Neon', Courier, monospace">
      Plant Gallery
    </h1>
    <hr width="50" class="">
  </div>
</div>

<div class="mx-5">

  <div class="grid">

    <app-plant-gallery-card></app-plant-gallery-card>
    <app-plant-gallery-card></app-plant-gallery-card>
    <app-plant-gallery-card></app-plant-gallery-card>
    <app-plant-gallery-card></app-plant-gallery-card>
    <app-plant-gallery-card></app-plant-gallery-card>
    <app-plant-gallery-card></app-plant-gallery-card>
    <app-plant-gallery-card></app-plant-gallery-card>


  </div>

</div>
