<div class="container mt-3">

    <div class="row">
        <div class="col">
            <img [src]="userPlant?.imgUrl" class="w-100">
        </div>


        <div class="col w-100" >
          <p><strong>Name:</strong> {{userPlant?.name}}</p>
          <p><strong> Care Note:  </strong>{{userPlant?.careNote}}</p>

            <div class="plantStatus">
                Health:
                <mat-progress-bar mode="determinate" [value]="userPlant?.careRequirement?.health" class="healthProgressBar"></mat-progress-bar>
            </div>

            <div class="plantStatus">
                Current Water:
                <mat-progress-bar mode="determinate" [value]="userPlant?.careRequirement?.water" class="waterProgressBar"></mat-progress-bar>
            </div>

            <div class="plantStatus">
                Current Sunlight:
                <mat-progress-bar mode="determinate" [value]="userPlant?.careRequirement?.sunlight" class="sunlightProgressBar"></mat-progress-bar>
            </div>

          <div class="d-flex justify-content-center mt-3">
            <button class="button-89" style="--color: black" (click)="openEditWindow()">Update Plant Status</button>
          </div>

        </div>
    </div>

    <div *ngIf="showEditWindow" class="popUpWindowContainer">

        <div class="popUpWindow">
            <h1>Update Plant Status</h1>
            <button (click)="closeEditWindow()" class="exitButton">
                <i class="fa fa-times"></i>
            </button>

            <form class="d-flex flex-column justify-content-center" [formGroup]="updateForm" (submit)="submitUpdateForm()">
                <input type="text" class="my-2" formControlName="name">

                <input type="text" class="my-2" formControlName="careNote">

                <input type="text" class="my-2" formControlName="imgUrl">

                <h1> Plant Status</h1>

                Health: <input type="number" class="my-2" formControlName="health">

                Water: <input type="number" class="my-2" formControlName="water">

                Sunlight: <input type="number" class="my-2" formControlName="sunlight">

                <button class="button-89 mt-3" style="--color: black" type="submit">Update</button>
            </form>
        </div>
    </div>

  <div class="d-flex flex-column justify-content-center">
    <h1 class="mx-auto">Plant Story</h1>

    <div class="border p-5 my-3 bg-white position-relative">
      <div class="position-absolute" style="top:10px; right:10px;">
        <svg fill="#9e9e9e" height="25px" width="25px" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32.055 32.055" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M3.968,12.061C1.775,12.061,0,13.835,0,16.027c0,2.192,1.773,3.967,3.968,3.967c2.189,0,3.966-1.772,3.966-3.967 C7.934,13.835,6.157,12.061,3.968,12.061z M16.233,12.061c-2.188,0-3.968,1.773-3.968,3.965c0,2.192,1.778,3.967,3.968,3.967 s3.97-1.772,3.97-3.967C20.201,13.835,18.423,12.061,16.233,12.061z M28.09,12.061c-2.192,0-3.969,1.774-3.969,3.967 c0,2.19,1.774,3.965,3.969,3.965c2.188,0,3.965-1.772,3.965-3.965S30.278,12.061,28.09,12.061z"></path> </g> </g></svg>
      </div>
      <h1>Day 1</h1>
      <hr>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
        repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
        eum harum corrupti dicta, aliquam sequi voluptate quas.
      </p>

    </div>

    <div class="border p-5 my-3 bg-white position-relative">
      <div class="position-absolute" style="top:10px; right:10px;">
        <svg fill="#9e9e9e" height="25px" width="25px" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32.055 32.055" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M3.968,12.061C1.775,12.061,0,13.835,0,16.027c0,2.192,1.773,3.967,3.968,3.967c2.189,0,3.966-1.772,3.966-3.967 C7.934,13.835,6.157,12.061,3.968,12.061z M16.233,12.061c-2.188,0-3.968,1.773-3.968,3.965c0,2.192,1.778,3.967,3.968,3.967 s3.97-1.772,3.97-3.967C20.201,13.835,18.423,12.061,16.233,12.061z M28.09,12.061c-2.192,0-3.969,1.774-3.969,3.967 c0,2.19,1.774,3.965,3.969,3.965c2.188,0,3.965-1.772,3.965-3.965S30.278,12.061,28.09,12.061z"></path> </g> </g></svg>
      </div>
      <h1>Day 2</h1>
      <hr>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
        repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
        eum harum corrupti dicta, aliquam sequi voluptate quas.
      </p>

    </div>

    <div class="border p-5 my-3 bg-white position-relative">
      <div class="position-absolute" style="top:10px; right:10px;">
        <svg fill="#9e9e9e" height="25px" width="25px" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32.055 32.055" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M3.968,12.061C1.775,12.061,0,13.835,0,16.027c0,2.192,1.773,3.967,3.968,3.967c2.189,0,3.966-1.772,3.966-3.967 C7.934,13.835,6.157,12.061,3.968,12.061z M16.233,12.061c-2.188,0-3.968,1.773-3.968,3.965c0,2.192,1.778,3.967,3.968,3.967 s3.97-1.772,3.97-3.967C20.201,13.835,18.423,12.061,16.233,12.061z M28.09,12.061c-2.192,0-3.969,1.774-3.969,3.967 c0,2.19,1.774,3.965,3.969,3.965c2.188,0,3.965-1.772,3.965-3.965S30.278,12.061,28.09,12.061z"></path> </g> </g></svg>
      </div>
      <h1>Day 3</h1>
      <hr>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
        repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
        eum harum corrupti dicta, aliquam sequi voluptate quas.
      </p>

    </div>


</div>



